@media (prefers-color-scheme: dark) {
    #qr {
        background-color: #292928;
    }

    body {
        background-color: #292928;
    }
}

@media (prefers-color-scheme: light) {
    #qr {
        background-color: #ffffff;
    }

    body {
        background-color: #ffffff;
    }
}

#qr {
    width: 100%;
    height: 100%;
    margin:  0 0 0 0;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
}