@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@media (prefers-color-scheme: dark) {
    :root {
        --dark-mode-bg: #292928; 
        --text-color: #F25F5C;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --light-mode-bg: #ffffff; 
        --text-color: #1B445F;
    }
}

body, html {
    background-color: var(--light-mode-bg);
}

h1 {
    position: absolute;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 185;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    /* text-align:center; */
    color: var(--text-color);;
    font-size: 20cap;

    top: 73%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
}

#qr-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#qr {
    background-color: var(--light-mode-bg);
    height: 100vh;
    margin-top: -5%;
}